body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Kategori di pojok kiri */
.kategori {
    text-align: left;
    font-weight: bold;
    margin: 20px 0;
    padding-left: 10px;
    grid-column: 1 / -1;
}

.produk {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 20px;
}

.produk img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.produk a {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
